.splash {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-dark);
}

.splash__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    border-radius: 45px;
    border: 5px solid var(--primary-color);
    background-color: var(--white);
}

.splash__logo-img {
    width: 90%;
    height: 90%;
}
